# Klasifikasi Berat badan

In [55]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [56]:
df = pd.read_csv("datasets/weight-height.csv")

In [57]:
df.tail(10)

      Gender     Height      Weight
9990  Female  63.179498  141.266100
9991  Female  62.636675  102.853563
9992  Female  62.077832  138.691680
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

## Scaling dan Labeling Atribut

In [58]:
label_enc = LabelEncoder()

df.Gender = label_enc.fit_transform(df.Gender)

In [59]:
df.tail()

      Gender     Height      Weight
9995       0  66.172652  136.777454
9996       0  67.067155  170.867906
9997       0  63.867992  128.475319
9998       0  69.034243  163.852461
9999       0  61.944246  113.649103

In [60]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

## Training Model

In [61]:
X

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
9995       0  66.172652
9996       0  67.067155
9997       0  63.867992
9998       0  69.034243
9999       0  61.944246

[10000 rows x 2 columns]

In [62]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 10000, dtype: float64

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.14, random_state=1)
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [64]:
model.predict(X_test)

array([121.39573621, 195.63019245, 193.77939775, ..., 202.98338331,
       205.22449776, 150.93240886])

In [65]:
accuracy = model.score(X_test, y_test)

In [66]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 91.09258464247516%

## Menyimpan Model dan Scaler

In [67]:
joblib.dump((model), "weight-prediction-using-logistic-regression.pkl")

['weight-prediction-using-logistic-regression.pkl']